@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'reset.css';
@import 'menu.css';



body {
    overflow-y: hidden;
}
main {
    margin-top: 70px;
}


section.img-back {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/62/Andrea_Pozzo_-_Apoteose_de_Santo_Inacio_cropped.jpg);
    background-position: center;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    filter: grayscale(70%);

}



div.text {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    top: 50px;
    z-index: 1;
    color: #fff; 
    text-align: center;
    align-items: center;
}

div.text h1{
    font-size: 50px;

}

div.text p{
    text-align: center;
    font-size: 17px;
    color: white;
}

#explorer {
    position: relative;
    z-index: 1000;
    margin-top: 100px;
    padding: 20px 60px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: .3s;
    font-size: 16px;
}

#explorer:hover {
    background-color: red;
    padding: 25px 65px;

}


.themes {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #192135;
    height: calc(50vh - 70px);
}



.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #f1f1f1;
    padding: .4em;
    border-radius: 6px;
    max-height: 380px;
}




.card-image {
    width: 100%;
    height: 70%;
    border-radius: 6px 6px 0 0;
}

.card img {
    width: 100%;
}

a:link {
    text-decoration: none;
}


.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
    transition: 1s;
}

.category:hover {
    cursor: pointer;
}

.heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}

.heading:hover {
    cursor: pointer;
}

.author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

.name {
    font-weight: 600;
}

.name:hover {
    cursor: pointer;
}





@media (max-width: 700px) {

    body {
        overflow-x: auto;
    }

    .themes {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }


}